*
!src/
!public/
!config/
# .env is fine as only external public links are managed inside the file
!.env
!arasaac-pictogram-viewer.php
!craco.config.js
!i18next-parser.config.js
!LICENSE
!package.json
!README.md
!tsconfig.json
!yarn.lock
!.yarnrc.yml