# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/js

# Unnecessary docker-related files
.dockerignore
docker-compose*.yml
Dockerfile

# Unnecessary files for Docker image
docs
LICENSE
README.md